<div class="login-page" [@routerTransition]>
        <div class="logo">Restaurant</div>
        <div class="help"><i class="fa fa-question-circle"></i></div>
            <div class="col-lg-12 login-page-content">
                <div class="row justify-content-md-center">
                    <div class="col-lg-3 col-sm-4">
                        <form #addForm="ngForm" (ngSubmit)="login(addForm)" novalidate>
                            <div class="form-group col-md-12 login-content">
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="user.username"  name="username"
                                    class="form-control login-email"
                                        id="username" placeholder="Email" required #username="ngModel">
                                    <input type="password" name="password" class="form-control login-password" id="password" 
                                    [(ngModel)]="user.password"
                                            placeholder="Mot de passe" autocomplete="new-password"
                                            required #password="ngModel">
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn input-xs btn-connexion">
                                        Connexion <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                                </div>
                                <div class="form-group col-md-12 checkbox text-center">
                                    <input mdbInputDirective class="form-check-input" [(ngModel)]="rememberMe"
                                        name="rememberMe" type="checkbox" id="inlineFormCheckMD">
                                    <label class="form-check-label" for="inlineFormCheckMD">
                                        Se souvenir de moi
                                    </label>
                                </div>
                                <div class="col-md-12 text-center">
                                    <small><a href="/mot-de-passe-oublie">{{ 'forget_username_password' | translate }}</a></small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>